<!doctype html>
  
  <head>
    <title>AntiAuction - Buy, sell, compete for the best price!</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <div id="wrapper">

      <div id="header">
        <a href="/">
          AntiAuction - Buy, sell, compete for the best price!
        </a>
      </div>

      <div id="nav">
        <ul>
            <li><a href="/">FRESH OFFERS</a></li>
            <li><a href="/offers/search">SEARCH</a></li>
            <li><a href="/offers/sell">SELL</a></li>
            <li><a href="/user/account">YOUR ACCOUNT</a></li>
            {% if status == True %}
            <li><a href="/user/logout">LOG OUT</a></li>
            {% else %}
            <li><a href="/user/login">LOG IN</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="content">
     
     {% for item in fresh_offers %}
          <article>
            <div class="photo"><img src="../static/uploads/{{ item[3] }}.png"
            onerror="this.src='../static/uploads/no_photo.png'" />
            </div>
            <h2>{{ item[7] }} ( offer ID: {{ item[3] }} )</h2>
            <div class="info">
            Current Price: {{ item[6] }}<br/>
            Published: {{ item[5] }}<br/>
            Valid until: {{ item[1] }}<br/>
            Seller: {{ item[4] }}
            </div>
            <p>Description: {{ item[0] }}</p>
            <div id="buy_button">
              <a href="/offers/buy/{{ item[3] }}">Buy now</a>
            </div>
          </article>
     {% endfor %}

      {% if last_page == 0 %}
      <br/>
      <div id="buy_button">
        <a href="/page/{{ num }}" >Next page</a> 
      </div>
      <br/>
      <br/>
      {% endif %}

     </div>

    </div>
  </body>

</html>
