<doctype html>
  
  <head>
    <title>AntiAuction - Buy, sell, compete for the best price!</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <div id="wrapper">

      <div id="header">
        <a href="/">
          AntiAuction - Buy, sell, compete for the best price!
        </a>
      </div>

      <div id="nav">
        <ul>
            <li><a href="/">FRESH OFFERS</a></li>
            <li><a href="/search">SEARCH</a></li>
            <li><a href="/sell">SELL</a></li>
            <li><a href="/account">YOUR ACCOUNT</a></li>
            <li><a href="/login">LOG IN</a></li>
        </ul>
      </div>

      <div class="content">

        <form action="/account_edit" name="form">

          <section>
          <label> {{ user[4] }} {{ user[8] }}  ( {{ user[5] }}
          )</label><br/>
          </section>

          <section>
          <label> {{ user[3] }} </label><br/>
          <label> {{ user[7] }} </label><br/>
          </section>
          
          <section>
          <label> {{ user[0] }} </label><br/>
          <label> {{ user[9] }} </label><br/>
          <label> {{ user[1] }} </label><br/>
          <label> {{ user[2] }} </label><br/>
          <input type="submit" value="Change contact/personal data"
          name="submit" />
          </section>

          <hr>
          <label>Your published offers:</label>
          <hr>
          <label>Things you've purchased:</label>
        </form>

        <form action="" name="form2">
          <label>Delete account permanently:</label><br/>
          <input type="submit" value="Delete" name="delete" />
        </form>

      </div>
    </div>
  </body>

</html>
