<!doctype html>
  
  <head>
    <title>AntiAuction - Buy, sell, compete for the best price!</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="#">
          AntiAuction - Buy, sell, compete for the best price!
        </a>
      </div>
      <div id="nav">
        <ul>
            <li>Fresh Offers</li>
            <li>Search</li>
            <li>Sell</li>
            <li>Your Account</li>
            <li>Logout</li>
        </ul>
      </div>
      <div id="content">There are no offers yet... :( :(</div>
    </div>
  </body>

</html>
