<!doctype html>
  
  <head>
    <title>AntiAuction - Buy, sell, compete for the best price!</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="/">
          AntiAuction - Buy, sell, compete for the best price!
        </a>
      </div>
      <div id="nav">
        <ul>
            <li><a href="/">FRESH OFFERS</a></li>
            <li><a href="/offers/search">SEARCH</a></li>
            <li><a href="/offers/sell">SELL</a></li>
            <li><a href="/user/account">YOUR ACCOUNT</a></li>
            {% if status == true %}
            <li><a href="/user/logout">LOG OUT</a></li>
            {% else %}
            <li><a href="/user/login">LOG IN</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="content">

        <form action="" method="post" name="form">
          <label for="phrase">What are you looking for?</label>
          <input type="text" name="phrase" /><br/>
          <label for="price_min">Minimum price:</label>
          <input type="number" name="price_min" /><br/>
          <label for="price_max">Maximum price:</label>
          <input type="number" name="price_max" /><br/>
          <div class="center_button">
            <input type="submit" value="Search" name="submit" />
          </div>
        </form>

      </div>

    </div>
  </body>

</html>
